<!-- layouts/partials/contact.html -->
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
    <div class="my-auto">
      <h2 class="mb-5">Contact</h2>

      <div class="contact-info">
        <p>You can reach me at:</p>

        <ul class="list-unstyled">
          <li class="mb-3">
            <i class="fas fa-envelope text-primary mr-3"></i>
            <strong>Email:</strong>
            <a href="mailto:dmitriy.z.tech@gmail.com">dmitriy.z.tech@gmail.com</a>
          </li>

          <li class="mb-3">
            <i class="fas fa-phone text-primary mr-3"></i>
            <strong>Phone:</strong>
            <a href="tel:+15036603010">503-660-3010</a>
          </li>

          <li class="mb-3">
            <i class="fab fa-github text-primary mr-3"></i>
            <strong>GitHub:</strong>
            <a href="https://github.com/betterversion" rel="me">github.com/betterversion</a>
          </li>

          <li class="mb-3">
            <i class="fab fa-linkedin text-primary mr-3"></i>
            <strong>LinkedIn:</strong>
            <a href="https://www.linkedin.com/in/dmitriy-zhernoviy" rel="me">linkedin.com/in/dmitriy-zhernoviy</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
